
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.sidebar{
animation: slide-sidebar 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) both
}
@keyframes slide-sidebar{
 0%{
    transform: translateY(100px);
  } 
 100%{
    transform: translateY(0);
  } 
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
*::-webkit-scrollbar {
  width:3px;
}

*::-webkit-scrollbar-track {
  background: rgb(83, 83, 81);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(218, 218, 223);
  border-radius:20px;
  border: 1px solid rgb(0, 0, 0);
}
.active{
  color: rgb(86, 194, 32);
  
}
.like{
  color:rgb(255, 0, 0);
  
  
}

.darkNavbar{
  background-color: black;
  color: white;
}


.dark{
  color:white;
  background-color: rgb(64, 62, 62);
}
.light{
  color: black;
  background-color: white;
}